
.layout {
  background: white;
  margin-top: 0;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  background: #f5f6fa;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation > h1 {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.link {
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.navdecoration {
  opacity: 0.5;
}

.oval {
  border: 1px solid #e8e8e8;
  width: 2.813rem;
  height: 2.813rem;
  padding: 0.875rem;
  border-radius: 50%;
}

.mask {
  color: #0290ff;
}
